@import '../styles/theme.css';
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-size: 15px;
  font-family: 'Roboto', sans-serif;
  background-color: var(--page-background-color);
  color: var(--text-color);
}
